<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>tietokone.io | IDE</title>

    <!-- Materialize -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link type="text/css" rel="stylesheet" href="~/css/lib/materialize.css" />

    <!-- Split Grid -->
    <script src="https://unpkg.com/split-grid/dist/split-grid.js"></script>
  </head>
  <body class="black white-text">
    <!-- navbar -->
    <div class="navbar-fixed">
      <nav class="deep-purple darken-3">
        <div class="nav-wrapper">
          <a href="#" hx-get="/" hx-target="#main-content" hx-push-url="true" class="brand-logo pl3">
            <i class="material-icons">code</i><span class="hide-mobile">Tietokone IDE</span>
          </a>
          <ul class="right">
            <li><a href="#" hx-get="/editor" hx-target="#main-content" hx-push-url="true">Editor</a></li>
            <li><a href="#" hx-get="/privacy" hx-target="#main-content" hx-push-url="true">Privacy</a></li>
          </ul>
        </div>
      </nav>
    </div>

    <!-- track viewport height -->
    <script>
      function setViewportHeight() {
        document.documentElement.style.setProperty('--vh', `${window.innerHeight * 0.01}px`);
      }

      window.addEventListener('resize', setViewportHeight);
      window.addEventListener('orientationchange', setViewportHeight);
      setViewportHeight();
    </script>

    <!-- main content -->
    <div id="main-content">
      @RenderBody()
    </div>

    <!-- JS dependencies -->
    <script src="https://unpkg.com/htmx.org@2.0.4"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.37.1/ace.min.js" integrity="sha512-39pMYj4We1YvsGIsTFctdfIdkqFG09F5lVUM4NzwUgE20xuBHdPWI2Ra4AShMX4qMdwTN2vfb9ATOdkoMU512Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.37.1/mode-javascript.min.js" integrity="sha512-S5TwCMItd+YdNiTApqHt2QkA2sd90dgpWxHoYhulWm+Nb/i9GppPsve8IOraaTj56uNJgIOtmFQFggL1PuKkWA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.37.1/theme-monokai.min.js" integrity="sha512-g9yptARGYXbHR9r3kTKIAzF+vvmgEieTxuuUUcHC5tKYFpLR3DR+lsisH2KZJG2Nwaou8jjYVRdbbbBQI3Bo5w==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <!-- custom components -->
    <script src="~/js/components/code-editor.js"></script>
  </body>
</html>
