<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>tietokone.io | IDE</title>

    <!-- HTMX -->
    <script defer src="https://unpkg.com/htmx.org@2.0.4"></script>

    <!-- Google icons preconnect hints -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <!-- Materialize -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- custom CSS -->
    <link rel="stylesheet" href="~/dist/styles.css" asp-append-version="true" />
  </head>

  <body class="black white-text">
    <!-- navbar -->
    <div class="navbar-fixed">
      <nav class="deep-purple darken-3">
        <div class="nav-wrapper">
          <a href="/" hx-get="/" hx-target="#main-content" hx-push-url="true"
             class="brand-logo pl3" style="margin-left: 15px">
            <span>Tietokone IDE</span>
          </a>
          <ul class="right">
            <li><a href="/privacy" hx-get="/privacy" hx-target="#main-content" hx-push-url="true">Privacy</a></li>
          </ul>
        </div>
      </nav>
    </div>

    <!-- main content -->
    <div id="main-content">
      @RenderBody()
    </div>

    <!-- Materialize and icons -->
    <link href="https://cdn.jsdelivr.net/npm/material-icons@1.13.12/iconfont/material-icons.min.css" rel="stylesheet">
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <!-- custom js -->
    <script defer type="module" src="~/dist/main.js" asp-append-version="true"></script>
  </body>
</html>
