@using StackExchange.StacksIcons
@{
  const string stackoverflow = "@stackoverflow";
}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>tietokone.io | IDE</title>

    <!-- HTMX -->
    <script src="https://unpkg.com/htmx.org@2.0.4"></script>

    <!-- Stacks -->
    <link rel="stylesheet" href="https://unpkg.com/@stackoverflow/stacks/dist/css/stacks.min.css">
    <link rel="stylesheet" href="https://unpkg.com/@stackoverflow/stacks-icons@6.0.2/dist/icons.css">
    <script defer src="https://unpkg.com/@stackoverflow/stacks/dist/js/stacks.min.js"></script>

    <!-- GoldenLayout styles -->
    <link type="text/css" rel="stylesheet" href="https://golden-layout.com/files/latest/css/goldenlayout-base.css" />
    <link type="text/css" rel="stylesheet" href="https://golden-layout.com/files/latest/css/goldenlayout-dark-theme.css" />
    <link type="text/css" rel="stylesheet" href="~/css/golden-layout-widgets.css" />

    <!-- CodeMirror styles -->
    <link type="text/css" rel="stylesheet" href="~/css/code-mirror-editor.css" />

    <!-- custom web components -->
    <script type="module" src="~/js/code-mirror-editor.js"></script>
    <script type="module" src="~/js/golden-layout-widgets.js"></script>
  </head>
  <body class="theme-dark">
    <!-- navbar -->
    <header class="s-topbar">
      <div class="s-topbar--container">
        <a hx-get="/" class="s-topbar--logo" hx-target="#container" hx-push-url="true">@Svg.Code</a>
        <nav class="s-topbar--navigation">
          <ol class="s-topbar--content">
            <li><a hx-get="/editor" class="s-topbar--item" hx-target="#container" hx-push-url="true">Editor</a></li>
            <li><a hx-get="/privacy" class="s-topbar--item" hx-target="#container" hx-push-url="true">Privacy</a></li>
          </ol>
        </nav>
      </div>
    </header>

    <!-- main content -->
    <div id="container">
      @RenderBody()
    </div>
  </body>
</html>
