<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>tietokone.io | IDE</title>

    <!-- HTMX -->
    <script defer src="https://unpkg.com/htmx.org@2.0.4"></script>

    <!-- Google icons preconnect hints -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <!-- Materialize -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- custom CSS -->
    <environment include="development">
      <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    </environment>
    <environment exclude="development">
      <link rel="stylesheet" href="~/dist/styles.css" asp-append-version="true" />
    </environment>
  </head>

  <body class="black white-text">
    <!-- navbar -->
    <div class="navbar-fixed">
      <nav class="deep-purple darken-3">
        <div class="nav-wrapper">
          <a href="/" hx-get="/" hx-target="#main-content" hx-push-url="true" class="brand-logo pl3">
            <i class="material-symbols-outlined" style="float: none">terminal</i><span class="desktop-only">Tietokone IDE</span>
          </a>
          <ul class="right">
            <li><a href="/privacy" hx-get="/privacy" hx-target="#main-content" hx-push-url="true">Privacy</a></li>
          </ul>
        </div>
      </nav>
    </div>

    <umbrella-js-wrapper></umbrella-js-wrapper>

    <!-- main content -->
    <div id="main-content">
      @RenderBody()
    </div>

    <!-- Materialize and icons -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:wght@100&icon_names=content_paste_go,play_arrow,terminal" />
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <!-- custom js -->
    <script defer type="module" src="~/dist/main.js" asp-append-version="true"></script>
  </body>
</html>
