<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>tietokone.io | IDE</title>

    <!-- HTMX -->
    <script defer src="https://unpkg.com/htmx.org@2.0.4"></script>

    <!-- Google icons preconnect hints -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <!-- Materialize -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- custom CSS -->
    <link rel="stylesheet" href="~/dist/styles.css" asp-append-version="true" />

    <!-- initialise dark mode (do this first to avoid 'flashing') -->
    <script>
      if (localStorage.getItem('darkMode')) {
        const html = document.querySelector('html');
        html.classList.add('dark');
      }

      document.addEventListener('DOMContentLoaded', () => {
        if (localStorage.getItem('darkMode')) {
          document.querySelector('.switch input').checked = true;
        }

        document.querySelector('.switch').style.display = 'unset'; // only show it once its state is correct, to avoid animations
      });
    </script>
  </head>

  <body>
    <!-- navbar -->
    <div class="navbar-fixed">
      <nav>
        <div class="nav-wrapper">
          <a href="/" hx-get="/" hx-target="#main-content" hx-push-url="true"
             class="brand-logo pl3" style="margin-left: 15px">
            <span>Tietokone IDE</span>
          </a>
          <ul class="right">
            <li><a href="/privacy" hx-get="/privacy" hx-target="#main-content" hx-push-url="true">Privacy</a></li>
            <li class="switch" style="display: none">
              <label class="white-text" style="position: relative; top: -1px">
                Dark mode
                <input type="checkbox" onclick="toggleDarkMode(event)">
                <span class="lever" style="margin-left: 6px; top: -1px"></span>
              </label>
            </li>
          </ul>
        </div>
      </nav>
    </div>

    <!-- main content -->
    <div id="main-content">
      @RenderBody()
    </div>

    <!-- Materialize and icons -->
    <link href="https://cdn.jsdelivr.net/npm/material-icons@1.13.12/iconfont/material-icons.min.css" rel="stylesheet">
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <!-- custom js -->
    <script defer type="module" src="~/dist/main.js" asp-append-version="true"></script>

    <!-- dark mode -->
    <script>
      function toggleDarkMode(e) {
        const html = document.querySelector('html');
        if (e.target.checked) {
          localStorage.setItem('darkMode', 'true');
          html.classList.add('dark');
        } else {
          localStorage.removeItem('darkMode');
          html.classList.remove('dark');
        }

        document.dispatchEvent(new CustomEvent('darkModeToggled', { detail: { darkMode: e.target.checked } }));
      }
    </script>
  </body>
</html>
