<nav class="red lighten-3">
  <div class="nav-wrapper">
    <ul class="left">
      <li><a id="run" class="waves-effect btn btn-small disabled" onclick="onRunClicked()"><i class="material-icons">play_arrow</i></a></li>
    </ul>
  </div>
</nav>

<golden-layout-widgets>
  <code-mirror-editor data-name="editor" data-title="JavaScript" onUpdate="const btn = document.getElementById('run'); if (value) { btn.classList.remove('disabled'); } else { btn.classList.add('disabled'); }"></code-mirror-editor>
  <div id="output"
       class="p3 black"
       style="width: 100%; height: calc(100% - 100px); top: 50px; color: limegreen; overflow: auto"
       readonly="readonly"
       data-name="output"
       data-title="Output">
  </div>
</golden-layout-widgets>

<script>
  function onRunClicked() {
    const editor = document.querySelector('code-mirror-editor').editorView;
    const code = editor.viewState.state.doc.toString();
    const run = new Function(code);

    const consoleLog = console.log
    const output = document.getElementById('output');
    output.innerHTML = '';
    console.log = (...args) => {
      output.innerHTML += `${args.join(' ')}<br/>`;
      output.scrollTop = output.scrollHeight;
    }

    try {
      run();
      console.log();
      console.log('Execution complete.');
    } catch (e) {
      console.log(e);
    } finally {
      console.log = consoleLog;
    }
  }
</script>
