<style>
  html {
    background-color: #263238 !important; /* blue-grey darken-4 */
  }
</style>

<nav class="toolbar indigo lighten-1">
  <div class="nav-wrapper">
    <ul class="left">
      <li>
        <a id="run"
           class="btn btn-secondary disabled"
           title="Run code..."
           onclick="onRunButtonClick()">
          <i class="material-symbols-outlined btn-toolbar">play_arrow</i>
        </a>
      </li>
    </ul>
  </div>
</nav>

<split-grid-wrapper first-gutter-class="gutter-row-1">
  <div class="grid blue-grey darken-4">
    <div>
      <nav class="deep-purple darken-3" style="height: 32px">
        <h6 class="pl2 m0" style="line-height: 32px !important;">JavaScript</h6>
      </nav>

      <code-editor id="code-editor"></code-editor>
    </div>

    <div class="gutter-row-1 gutter-row-2"></div>

    <div class="console">
      <nav class="deep-purple darken-3" style="height: 27px;">
        <h6 class="pl2 m0" style="line-height: 22px !important;">Console</h6>
      </nav>

      <div id="console-output"
           class="p3 blue-grey darken-4 white-text"
           readonly="readonly"
           data-name="output"
           data-title="Output">
      </div>
    </div>
  </div>
</split-grid-wrapper>

<script>
  function onRunButtonClick() {
    const editor = u('#code-editor').first();
    const output = u('#console-output').first();

    output.innerHTML = '';
    editor.run(output);
  }
</script>
