<div class="p64">
  <h1>Welcome to <strong>Tietokone IDE</strong>!</h1>

  <p>I've created this site to test building a modern, interactive website without an SPA framework.</p>

  <p>The site is built with <a href="https://dotnet.microsoft.com/en-us/apps/aspnet/mvc">ASP.NET MVC</a>
     and <a href="https://htmx.org/">HTMX</a>.</p>
</div>
