<div class="container">
  <div class="row d-flex">
    <div class="col s12">
      <h1>Welcome to <strong>Tietokone IDE</strong>!</h1>
      <h5 style="margin-bottom: 1.68rem">Collaborative code editor for the web</h5>
      <hr />
    </div>
  </div>

  <div class="row d-flex">
    <div class="col s12 m6 d-flex flex-column">
      <div class="card d-flex flex-column flex-1">
        <div class="card-content flex-1" style="min-height: 165px">
          <span class="card-title">Create session</span>
          <p>This will create a new session, with a unique ID, that others can join.</p>
          <div class="input-field switch">
            <label>
              Enable code execution
              <input type="checkbox" name="enableCodeExecution" value="true" checked form="new-session" />
              <span class="lever" style="margin-left: 6px; top: -1px"></span>
            </label>
          </div>
        </div>
        <div class="card-action">
          <form id="new-session" action="/sessions" method="POST" hx-post="/sessions" hx-target="#main-content" hx-push-url="true">
            <button class="btn btn-primary" type="submit">Create</button>
          </form>
        </div>
      </div>
    </div>
    <div class="col s12 m6 d-flex flex-column">
      <div class="card d-flex flex-column flex-1">
        <div class="card-content flex-1">
          <span class="card-title">Join existing session</span>
          <p>Please enter the code for the session you wish to join.</p>
          <div class="input-field">
            <input id="session-code" placeholder="Session code" type="text" class="validate" name="code" form="join-session">
          </div>
        </div>
        <div class="card-action">
          <form id="join-session" action="/sessions" method="GET" hx-get="/sessions" hx-target="#main-content" hx-push-url="true">
            <button class="btn btn-primary" type="submit">Join</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
