<div class="container">
  <div class="row d-flex">
    <div class="col s12 m12 d-flex flex-column">
      <h1>Privacy policy</h1>
    </div>
  </div>

  <div class="row d-flex">
    <div class="col s12 m12 d-flex flex-column">
      No personal data shared with us will be given to any third party, under any circumstances.
      Your data will also never be used by us for any purpose other than for delivering the services provided by the site.
    </div>
  </div>

  <div class="row d-flex">
    <div class="col s12 m12 d-flex flex-column">
      The site engages in no ad targeting, data mining, or other activities that may compromise your privacy,
      and we do not affiliate ourselves with any third parties that do.
    </div>
  </div>
</div>