ul.lm_tabs, li.lm_tab {
  height: 100% !important;
  width: 100% !important;
  background-color: inherit !important;
  color: inherit !important;
}

span.lm_title {
  font-size: large;
}

ul.lm_controls {
  display: none;
}

.lm_header {
  background-color: #ee6d73;
  color: white;
}

.lm_title {
  padding-top: 4px;
}
