.btn-square {
  width: 36px;
  padding: 0;
}

.brand-logo {
  left: unset !important;
  transform: unset !important;
}

.d-flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.flex-1 {
  flex: 1;
}

@media (max-width: 600px) {
  .d-flex {
    display: block;
  }
}

.material-symbols-outlined {
  line-height: unset !important;
  position: relative;
}
