.btn-square {
  width: 36px;
  padding: 0;
}

.brand-logo {
  left: unset !important;
  transform: unset !important;
}

.d-flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.flex-1 {
  flex: 1;
}

@media (max-width: 600px) {
  .d-flex {
    display: block;
  }
}

.material-symbols-outlined {
  line-height: unset !important;
  position: relative;
}

nav {
  background-color: #2196f3; /* blue */
}

.btn,
span.lever::after {
  background-color: #2196f3; /* blue */
}

.btn:hover {
  background-color: #42a5f5; /* blue lighten-1 */
}

.card {
  background-color: #fafafa; /* grey lighten-5 */
}

label {
  color: #202020 !important;
}

html {
  &.dark {
    background-color: #424242; /* grey darken-3 */
    color: #fff;

    label {
      color: #fff !important;
    }

    nav {
      background-color: #212121; /* grey darken-4 */
    }

    .card {
      background-color: #757575; /* grey darken-1 */
    }

    .lever {
      background-color: #616161 !important; /* grey darken-2 */
    }

    .btn,
    span.lever::after {
      background-color: #1976d2 !important; /* blue darken-2 */
    }

    .btn:hover {
      background-color: #1e88e5 !important; /* blue darken-1 */
    }

    .divider {
      opacity: 0.2;
    }
  }
}